<button class="btn btn-info" style="margin: 10px" routerLink="/category">Quay lại</button>

<h2 style="color: red;">Sửa thông tin</h2>
<form [formGroup]="categoryForm" (ngSubmit)="editCategory()">
  <table>
    <tr hidden>
      <td>Mã thể loại:</td>
      <td><input type="text" formControlName="id"></td>
    </tr>
    <tr>
      <td>Tên thể loại:</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button type="submit" class="btn btn-primary">Sửa</button>
      </td>
    </tr>
  </table>
</form>




