<select [(ngModel)]="firstColor">
  <option value="">--Chọn màu--</option>
  <option value="red">Đỏ</option>
  <option value="black">Đen</option>
  <option value="blue">Xanh</option>
</select>

<select style="margin-left: 30px" [(ngModel)]="secondColor">
  <option value="">--Chọn màu--</option>
  <option value="red">Đỏ</option>
  <option value="black">Đen</option>
  <option value="blue">Xanh</option>
</select>

<p [ngStyle]="{backgroundColor:firstColor}" style="width: 100%;height: 20px"></p>
<p [ngStyle]="{backgroundColor:secondColor}" style="width: 100%;height: 20px"></p>

